*{
    padding: 0%;
    margin: 0%
}
a{
    text-decoration: none;
    color: black;

}
body{
    font-family: arial;
    background: url("tatuagens-no-dedo-6.jpg");
    background-size: 100%;

}
ul{
    list-style: none;
}
img{
    width: 40px;

}
input[type="checkbox"]
{
    display: none;
}
nav{
    background-color: rgba(16,16,16,.5);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}
input[type="checkbox"]:checked ~ nav
{
   transform: translateX(350px);
}

ul{
    top: 70px;
    position: absolute;
    width: 100%;
}
a{
    display: block;
    padding: 20px 5px;
    color: white;
}
a:hover{
    background-color: rgba(176,224,230);
    color: black;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}